@use "variables" as v;

footer{
  @include v.display (grid, center, space-around);
  padding: 10px;  
  grid-area:f;
  grid-template-areas: 
  "lg copy cp rs";
  background-color: v.$bg-color;
  .cp{
    grid-area: cp; 
    text-align: center;
    font-size: 2vw;
  }  
  .copy{
    grid-area: copy;
    @include v.display (flex, center, center);
    text-align: center;
    font-size: 2vw;
  }
  .rs{
    @include v.display (flex, center, center);
    flex-direction: row;
    grid-area: rs;
    gap: 10px;;
    list-style-type: none; 
  }
  img#logodlmfooter{
    @include v.display (flex, center, center);
    grid-area: lg;
    width: 4vw;
  }
  .rs_img{
    width: 3vw;
  }
}
