@use "variables" as v;

nav{
  @include v.display (flex, center, space-around);
  padding: 10px;
  grid-area: h;
  background-color: v.$bg-color;
  
  .logonav{
    width: 7vw;
    grid-area: logo;
  }
  .titulo_nav{
    color: v.$color-principal;
    grid-area: h1;
  
  }
  .links{
    grid-area: link;
  }
  a{
    text-decoration: none;
    color: v.$color-principal;
  }a:hover{
    text-decoration: underline;
  }
  .ul-offcanvas{
    list-style: none;
  }
  .boton-ofcanvas{
    width: 2.5vw;

  }
}


