//sass --watch style.scss style.css

@use "header";
@use "footer";
@use "variables";
*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "h"
    "m"
    "f";
  min-height: 100vh;
  grid-area: m;
}